html,
body {
  height: 100%;
  margin: 0 2% 0 2%;
}

.logo-img {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
}

.today-date {
  border: 1.5px solid #e4e4e4;
}

.sample-date,
.sample-loc,
.sample-time {
  padding: ;
}

hr {
  width: 100%;
  height: 5px;
  background: #e4e4e4;
  border: none;
}

input,
textarea {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  opacity: 0.66;
  transition: opacity 0.3s, box-shadow 0.3s;
}

textarea {
  height: 80px;
}

label {
  display: block;
  padding: 12px 12px 8px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}

form {
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #fff;
  border: 3px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
  width: 70%;
  margin: 0 auto;
}

button {
  border: 1px solid #e4e4e4;
  font-size: 14px;
  color: #fff;
  padding: 1em;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
}

.btn-submit,
.btn-print,
.btn-clear {
}

.btn-submit {
  background: #5fb760;
}

.btn-clear {
  background: #efac56;
}

.btn-print {
  background: #5fc0dd;
}

.btn-new {
  background: #5fc0dd;
}

.my-list {
  list-style-type: none;
  font-size: 10px;
}

.radio-inline {
  padding-left: 25px;
  padding-right: 25px;
}

.new-sample {
  text-align: right;
  margin-right: 10%;
}

.contact-sample {
}

.comment-box {
  overflow: scroll;
}

.col-0 {
  border: none;
}

div.col1,
div.col-2,
div.col-3,
div.col-4,
div.col-5 {
  border-bottom: 1px solid #e4e4e4;
}

@media (min-width: 800px) {
  div {
    display: inline-block;
  }
  div.col-submit {
    display: block;
  }
}

@media (min-width: 800px) {
  div.col-1,
  div.col-2,
  div.col-3,
  div.col-4,
  div.col-5 {
    box-shadow: 1px 1px #e4e4e4;
    border: none;
  }
}

@media (min-width: 800px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 33.3333333333%;
  }
  .col-4 {
    width: 25%;
  }
  .col-5 {
    width: 25%;
  }
}

@media (min-width: 800px) {
  div.col-submit button {
    width: 30%;
    margin: 0 auto;
  }
}

input:focus,
select:focus,
textarea:focus {
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
